# Database settings variables
DATABASE_NAME='your-database-name'
DATABASE_USER='your-database-user'
DATABASE_PASSWORD='your-database-password'
DATABASE_HOST='your-database-host'
SECRET_KEY='your secret key'
CLOUDINARY_CLOUD_NAME='your cloudinary name'
CLOUDINARY_API_KEY='your cloudinary api key'
CLOUDINARY_API_SECRET='your cloudinary api secret'
